.home {
  display: flex;
  flex-direction: column;
}

.home--LIGHT {
  background-color: white;
}

.home--DARK {
  background-color: #232143;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: calc(100vh - 152px - 50px);
  justify-content: center;
  max-width: 100vw;
  overflow-y: scroll;
  padding: 20px 0;
}

.footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

.footer--DARK {
  color: white;
}
