.card--DARK {
  border-color: transparent;
  background-color: #2f2d55;
}

.card-img {
  width: 240px;
  height: 360px;
}

.card-text--DARK {
  color: white;
}

.card-title {
  display: -webkit-box;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-description {
  display: -webkit-box;
  margin-bottom: 35px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__button-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 20px;
}
